@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

body {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  color: rgb(35, 35, 36);
  line-height: 1.5;
  background-color: whitesmoke;
}

#navbar {
  height: 100vh;
  width: 25%;
  background-color: lightblue;
}

#main-doc {
  width: 75%;
}
